SimpleMarketPlace/WebContent/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Connection" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Connection" xmlns:intf="http://Connection" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Connection" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="timestamp">
    <complexType>
     <sequence>
      <element name="f_name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="timestampResponse">
    <complexType>
     <sequence>
      <element name="timestampReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registration">
    <complexType>
     <sequence>
      <element name="f_name" type="xsd:string"/>
      <element name="l_name" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrationResponse">
    <complexType>
     <sequence>
      <element name="registrationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUp">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="pwd" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUpResponse">
    <complexType>
     <sequence>
      <element name="signUpReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getproducts">
    <complexType/>
   </element>
   <element name="getproductsResponse">
    <complexType>
     <sequence>
      <element name="getproductsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addcart">
    <complexType>
     <sequence>
      <element name="submit" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addcartResponse">
    <complexType>
     <sequence>
      <element name="addcartReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkout">
    <complexType>
     <sequence>
      <element name="trans_id" type="xsd:string"/>
      <element name="p_id" type="xsd:string"/>
      <element name="p_name" type="xsd:string"/>
      <element name="p_price" type="xsd:string"/>
      <element name="qty" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkoutResponse">
    <complexType>
     <sequence>
      <element name="checkoutReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addcartRequest">

      <wsdl:part element="impl:addcart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpResponse">

      <wsdl:part element="impl:signUpResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="timestampRequest">

      <wsdl:part element="impl:timestamp" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkoutRequest">

      <wsdl:part element="impl:checkout" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrationRequest">

      <wsdl:part element="impl:registration" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpRequest">

      <wsdl:part element="impl:signUp" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getproductsRequest">

      <wsdl:part element="impl:getproducts" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrationResponse">

      <wsdl:part element="impl:registrationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkoutResponse">

      <wsdl:part element="impl:checkoutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addcartResponse">

      <wsdl:part element="impl:addcartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getproductsResponse">

      <wsdl:part element="impl:getproductsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="timestampResponse">

      <wsdl:part element="impl:timestampResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="timestamp">

         <wsdl:input message="impl:timestampRequest" name="timestampRequest">

       </wsdl:input>

         <wsdl:output message="impl:timestampResponse" name="timestampResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registration">

         <wsdl:input message="impl:registrationRequest" name="registrationRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrationResponse" name="registrationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdl:input message="impl:signUpRequest" name="signUpRequest">

       </wsdl:input>

         <wsdl:output message="impl:signUpResponse" name="signUpResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getproducts">

         <wsdl:input message="impl:getproductsRequest" name="getproductsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getproductsResponse" name="getproductsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addcart">

         <wsdl:input message="impl:addcartRequest" name="addcartRequest">

       </wsdl:input>

         <wsdl:output message="impl:addcartResponse" name="addcartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkout">

         <wsdl:input message="impl:checkoutRequest" name="checkoutRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkoutResponse" name="checkoutResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="timestamp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="timestampRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="timestampResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registration">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registrationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registrationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signUpRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signUpResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getproducts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getproductsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getproductsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addcart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addcartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addcartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkoutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkoutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/SimpleMarketPlace/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
